/*fix the bug that bootstrap conflicts with ligerui*/
.l-bar-selectpagesize select {
    width: 55px;
    padding: 0 2px;
    height: 26px;
}

.l-bar-group .pcontrol input {
    height: 24px;
    padding: 0 2px;
    margin: 0;
}

.l-bar-message span.l-bar-text {
    font-size: 12px;
    line-height: 26px;
}

.form-inline .form-group{
    width:350px;
}
.form-inline .form-group label {
    text-align: right;
    padding:6px 0px;
}

.form-inline .form-group .input-group{
    width:100%;
}

.form-group .checkbox label,.form-group .radio label{
    margin-right:20px;
}

.form-control.error,.select2-selection.error{
    border:1px solid #d44950;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control.error:focus,.select2-selection.error:focus{
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.glyphicon{
    margin-right:5px;
}

label.error{
    color: red;
    font-weight: normal;
    font-size: 12px;
}

.date.input-group .input-group-addon{
    padding: 6px 8px;
}

/*grid工具栏*/
#toolbar{
    height: 40px;
    padding: 4px 10px 3px 27px;
    margin-bottom: -1px;
    border:1px solid #d6d6d6;
    background: url("image/gridbar40.jpg") repeat-x;
}

.form-container{
    padding:5px 10px;
}